@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
        url("../fonts/pretendard/Pretendard-Regular.woff") format("woff"),
        url("../fonts/pretendard/Pretendard-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"),
        url("../fonts/pretendard/Pretendard-Medium.woff") format("woff"),
        url("../fonts/pretendard/Pretendard-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
        url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"),
        url("../fonts/pretendard/Pretendard-SemiBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"),
        url("../fonts/pretendard/Pretendard-Bold.woff") format("woff"),
        url("../fonts/pretendard/Pretendard-Bold.ttf") format("truetype");
    font-display: swap;
}

/* pc 기본폰트 사이즈 */
@media (min-width: 1181px) {
    :root {
        font-size: 62.5%; /* 10px */
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-size: 100%;
    font-weight: 400;
	font: inherit;
	vertical-align: baseline;
}
body {
    overflow-x: hidden;
    width: 100%;
	line-height: 1;
    color: #111;
    font-size: 1rem;
    font-family: "Pretendard", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", "Dotum", "Helvetica", sans-serif;
    word-break: keep-all;
}
ol, ul, li {
	list-style: none;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #111;
    text-decoration: none;
}
em, address {
    font-style: normal;
}
strong {
    font-weight: 700;
}
img {
    max-width: 100%;
    vertical-align: top;
}
h2, h3, h4, h5, h6 {
    font-weight: 700;
}

input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
}
input:focus{
    outline: none;
}
input::-ms-clear,
input::-ms-reveal{
    display:none;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
.page-skip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: -120rem;
    right: 0;
    left: 0;
    height: 60rem;
    background-color: color(base, 90);
}
.page-skip:focus-within {
    top: 0;
}
.hidden {
    overflow: hidden;
}
.dim_gnb {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background: rgba(17, 17, 17, 0.50);
    z-index: 10;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    z-index: 1000;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: 0;
    transition: height .2s, opacity .2s;
}


.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 238px;
    width: 182rem;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
.header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12.8rem;
    height: 5.6rem;
    z-index: 10;
}
.header h1 img {
    width: 100%;
    height: 100%;
}
.header .gnb {
    height: 100%;
}
.header .gnb .menu {
    display: flex;
    align-items: center;
    height: 100%;
}
.header .gnb .login-wrap {
    display: none;
    
}
.header .gnb .menu > li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: width .2s;
}
.header .gnb .menu > li > a {
    position: relative;
    display: block;
    letter-spacing: -2%;
    font-size: 20px;
    font-weight: 700;
    z-index: 10;
    color: #111317;
}
.header .gnb .menu > li > a > .txt {
    display: block;
    padding: 1.1rem 1.7rem .9rem;
}
.header .gnb .menu > li > a > .txt::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4.8rem;
    border: 1px solid transparent;
    transition: border-color .2s;
}

.header .gnb .menu > li > a > .ico {
    display: none;
}


/* only pc hover */
@media (min-width: 1181px) {
    .header .gnb .menu > li:hover > a {
        color: #6B6E76;
    }
}

@media (max-width: 1919px) {
    .header {
        height: 100px;
        background: #fff;
    }

    .header .inner {
        width: 1080px;
    }
    .header h1 {
        width: calc(100vw * (171 / 1919));
        height: calc(100vw * (33 / 1919));
    }
    .header .gnb .menu > li > a {
        font-size: 20px;
    }
    .header .gnb .menu > li > a > .txt {
        padding: calc(100vw * (11 / 1919)) calc(100vw * (17 / 1919)) calc(100vw * (9 / 1919));
    }
    .header .gnb .menu > li > a > .txt::before {
        border-radius: calc(100vw * (48 / 1919));
    }
    
    .header .gnb .menu > li > .submenu {
        top: calc(100vw * (90 / 1919));
        width: calc(100vw * (160 / 1919));
    }
    .header.on .gnb .menu > li > .submenu {
        height: calc(100vw * (312 / 1919));
    }
    .header .gnb .menu > li > .submenu > li {
        padding-top: calc(100vw * (16 / 1919));
    }
    .header .gnb .menu > li > .submenu > li:first-child {
        padding-top: calc(100vw * (50 / 1919));
    }
    .header .gnb .menu > li > .submenu > li a {
        font-size: calc(100vw * (17 / 1919));
    }
}

@media (max-width: 1180px) {
    .header {
        height: calc(100vw * (90 / 1180));
    }
    .header.on::before {
        display: none;
    }
    .header::after {
        top: calc(100vw * (90 / 1180));
    }
    .header .inner {
        width: 100%;
        height: calc(100vw * (90 / 1180));
        padding: 0 calc(100vw * (50 / 1180));
    }
    .header h1 {
        left: calc(100vw * (50 / 1180));
        width: calc(100vw * (128 / 1180));
        height: calc(100vw * (56 / 1180));
    }

    .header .gnb {
        position: fixed;
        left: 0;
        top: calc(-100% - calc(100vw * (90 / 1180)));
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        z-index: -1;
        transition: top .3s;
    }
    .header .gnb::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #111;
    }
    .header .gnb.on {
        top: calc(100vw * (90 / 1180));
    }
    


    .header .gnb .menu > li {
        flex-direction: column;
    }
    .header .gnb .menu > li:nth-child(1),
    .header .gnb .menu > li:nth-child(2),
    .header .gnb .menu > li:nth-child(3),
    .header .gnb .menu > li:nth-child(4),
    .header .gnb .menu > li:nth-child(5) {
        width: 100%;
        padding: 0 calc(100vw * (50 / 1180));
    } 
    
    .header.on .gnb .menu > li:nth-child(1),
    .header.on .gnb .menu > li:nth-child(2),
    .header.on .gnb .menu > li:nth-child(3),
    .header.on .gnb .menu > li:nth-child(4),
    .header.on .gnb .menu > li:nth-child(5) {
        width: 100%;
    } 

    .header .gnb .menu > li > a {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: calc(100vw * (36 / 1180)) 0;
        font-size: calc(100vw * (24 / 1180));
        font-weight: 700;
    }
    .header .gnb .menu > li.off a {
        opacity: .4;
    }
    .header .gnb .menu > li > a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #111;
    }
    .header .gnb .menu > li.on > a::before {
        opacity: 1;
    }
    .header .gnb .menu > li.off > a::before {
        opacity: .4;
    }
    .header .gnb .menu > li:last-child a::before {
        display: none;
    }
    .header .gnb .menu > li > a > .txt {
        padding: 0;
    }
    .header .gnb .menu > li > a > .txt::before {
        border-radius: calc(100vw * (48 / 1180));
    }

    .header .gnb .menu > li > a > .ico {
        position: absolute;
        right: 0;
        top: calc(100vw * (38 / 1180));
        width: calc(100vw * (24 / 1180));
        height: calc(100vw * (24 / 1180));
    }

    .header .gnb .menu > li > a > .ico {
        display: block;
    }
    .header .gnb .menu > li > a > .ico span {
        position: absolute;
        display: block;
        background-color: #111;
        transition: all .5s ease-in-out;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color .4s, height .4s;
    }
    .header .gnb .menu > li > a > .ico span:nth-child(1) {
        width: 1.5px;
        height: calc(100vw * (24 / 1180));
    }
    .header .gnb .menu > li > a > .ico span:nth-child(2) {
        width: calc(100vw * (24 / 1180));
        height: 1.5px;
    }
    .header .gnb .menu > li.on > a > .ico span:nth-child(1) {
        height: 0;
    }
    
    .header .gnb .menu > li > .submenu {
        display: none;
        overflow: hidden;
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        height: 0;
        padding: calc(100vw * (35 / 1180)) calc(100vw * (30 / 1180));;
        background: #F8F8F8;
        transition: none;
    }
    .header .gnb .menu > li.on > .submenu,
    .header.on .gnb .menu > li > .submenu {
        /* display: block; */
        height: auto;
    }
    .header .gnb .menu > li.on > .submenu::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #111;
    }
    .header .gnb .menu > li.on > .submenu {
        opacity: 1;
        pointer-events: all;
    }
    .header .gnb .menu > li > .submenu > li {
        padding: 0;
        text-align: left;
    }
    .header .gnb .menu > li > .submenu > li:first-child {
        padding-top: 0;
    }
    .header .gnb .menu > li > .submenu > li a {
        display: block;
        padding: calc(100vw * (15 / 1180)) 0;
        font-size: calc(100vw * (24 / 1180));
    }
    .header .gnb .menu > li.off .submenu > li a {
        opacity: .4;
    }

}

@media (max-width: 767px) {
    .header {
        height: calc(100vw * (160 / 767));
        z-index: 15;
    }
    .header::after {
        top: calc(100vw * (160 / 767));
    }
    .header .inner {
        height: calc(100vw * (160 / 767));
        padding: 0 1.0375rem;
    }
    .header .util {
        z-index: 11;
    }
    .header h1 {
        left: calc(100vw * (40 / 767));
        width: calc(100vw * (311 / 1125));
        height: calc(100vw * (80 / 767));
    }

    .header .gnb {
        top: calc(100vw * (160 / 767));
        left: auto;
        right: -100%;
        height: 100vh;
        height: 100dvh;
        transition: right .2s;
        overflow: hidden;
        padding-top: calc(100vw * (160 / 767));
    }
    .header .gnb::before {
        display: none;
    }
    .header .gnb.on {
        top: 0;
        right: 0;
    }
    .header .gnb .menu > li:nth-child(1),
    .header .gnb .menu > li:nth-child(2),
    .header .gnb .menu > li:nth-child(3),
    .header .gnb .menu > li:nth-child(4),
    .header .gnb .menu > li:nth-child(5) {
        padding: 0 calc(100vw * (40 / 767));
    } 
    .header .gnb .menu {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .header .gnb .menu > li {
        height: auto;
    }

    .header .gnb .menu > li > a {
        height: auto;
        padding: calc(100vw * (50 / 767)) 0;
        font-size: calc(100vw * (36 / 767));
    }
    .header .gnb .menu > li:last-child > a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #111;
    }
    .header .gnb .menu > li > a > .txt::before {
        border-radius: calc(100vw * (48 / 767));
    }

    .header .gnb .menu > li > a > .ico {
        top: calc(100vw * (46 / 767));
        width: calc(100vw * (48 / 767));
        height: calc(100vw * (48 / 767));
    }
    .header .gnb .menu > li > a > .ico span:nth-child(1) {
        width: 2px;
        height: calc(100vw * (36 / 767));
    }
    .header .gnb .menu > li > a > .ico span:nth-child(2) {
        width: calc(100vw * (36 / 767));
        height: 2px;
    }
    .header .gnb .menu > li > .submenu {
        padding: calc(100vw * (63 / 767)) calc(100vw * (30 / 767));
    }
    .header .gnb .menu > li > .submenu > li a {
        padding: calc(100vw * (17 / 767)) 0;
        font-size: calc(100vw * (32 / 767));
    }
    .header .util .switch-wrap {
        display: none;
    }
    .header.on .util .switch-wrap {
        display: block;
    }
    /* login-wrap */
    .header.on {
        background: transparent;
    }
    .header.on h1 {
        z-index: -1;
    }
    .header.on h1 img {
        
    }
    .header.on .inner {
        background: transparent;
    }
    .header .login-wrap {
        display: none;
        transition: right .2s;
    }
    .header.on .login-wrap {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
        width: calc(100% - 4.6875rem);
        height: 100vh;
        padding: 7.3438rem 1.0375rem 0;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        transition: right .2s;
    }
    .login-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.4375rem;
    }
    .login-header .login-subject h3 {
        font-size: 1.0625rem;
        font-weight: 400;
        color: #111317;
    }
    .login-header .login-text {
        margin-top: .475rem;
        font-size: .6875rem;
        color: #9B9FA7;
    }
    .login-header .login-subject .login-btn {
        font-weight: 700;
        border-bottom: 1px solid #111317;
        display: inline-block;
    }
    .login-move {
        cursor: pointer;
        width: 1.5375rem;
        height: 1.5375rem;
        background: url(../images/main/ico_slider_next2.svg) no-repeat;
        background-size: contain;
    }
    .login-wrap .deco-line {
        display: block;
        width: 100%;
        height: .4125rem;
        background: #F5F5F5;
        margin:0 -1.0375rem;
        border: 0;
    }
    .login-wrap .deco-line::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100vw;
        height: .4125rem;
        background: #F5F5F5;
        z-index: 0;
    }
    .login-wrap .page-list {
        display: flex;
        padding: .975rem .975rem .7875rem .975rem;
        border-bottom: 1px solid #F5F5F5;
        gap: 1.25rem;
    }
    .login-wrap .page-list .page-item {
        width: 25%;
    }
    .login-wrap .page-list .page-item a {
        display: block;
        padding-top: 1.6rem;
        text-align: center;
        font-size: 12.6px;
        color: #4D5159;
    }
    .login-wrap .page-list .page-item:nth-child(1) {
        background: url(../images/main/ico_main_category1.svg) no-repeat;
        background-size: .9563rem;
        background-position: center top;
    }
    .login-wrap .page-list .page-item:nth-child(2) {
        background: url(../images/main/ico_main_category3.svg) no-repeat;
        background-size: .9563rem;
        background-position: center top;
    }
    .login-wrap .page-list .page-item:nth-child(3) {
        background: url(../images/main/ico_main_category4.svg) no-repeat;
        background-size: .9563rem;
        background-position: center top;
    }
    .login-wrap .page-list .page-item:nth-child(4) {
        background: url(../images/main/ico_main_category5.svg) no-repeat;
        background-size: .9563rem;
        background-position: center top;
    }
    .login-wrap .login-link-list-wrap {
        position: relative;
    }
    .login-link-list {
        display: flex;
        flex-direction: column;
    }
    .login-link-list .login-link-list-item {
        margin-top: 1.25rem;
    }
    .login-link-list .login-link-list-item a {
        font-size: .875rem;
        line-height: 1.1625rem;
        color: #111317;
        font-weight: 500;
    }
    
}

.header .util {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 2.4rem;
    z-index: 10;
}
.header .util .switch-wrap {
    position: relative;
    text-align: center;
    padding-right: 19px;
    
}
.header .util .switch-wrap::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #E6E9F1;
}

.header .util .switch-wrap .switch_label {
    display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header .util .switch-wrap [type="checkbox"] {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 42px;
    height: 22px;
    background: #fff;
    border: 1px solid #727274;
    border-radius: 20px;
}
.header .util .switch-wrap [type="checkbox"]::after {
    content: 'OFF';
    position: absolute;
    right: 2px;
    top: -1px;
    font-size: 9px;
    line-height: 22px;
    color: #727274;
}
.header .util .switch-wrap [type="checkbox"]::before {
    content: "19";
    position: absolute;
    left: 2px;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: scale(1);
    background: #727274;
    transition: left 250ms linear;
    color: #fff;
    font-size: 9px;
    line-height: 18px;
    text-align: center;
    z-index: 1;
}
.header .util .switch-wrap [type="checkbox"]:checked {
    border: 1px solid #FF2703;
}
.header .util .switch-wrap [type="checkbox"]:checked::after {
    content: 'ON';
    position: absolute;
    left: 5px;
    top: -1px;
    font-size: 9px;
    line-height: 22px;
    color: #FF2703; 
}
.header .util .switch-wrap [type="checkbox"]:checked::before {
    background-color:#FF2703; 
    left: 20px;
}


.header .util .switch-wrap .onf_btn::after {
    content: '19';
    display: inline-block;
    line-height: 18px;
    color: #fff;
    font-size: 9px;
}
.header .util a {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    text-indent: -9999rem;
}
.header .util a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}
.header .util .btn_search::before {
    background-image: url("../images/common/ico_header_search_mo.svg");
}
.header .util .btn_notification::before {
    background-image: url("../images/common/ico_header_notice_mo.svg");
}
.header .util .btn_message::before {
    background-image: url("../images/common/ico_message.svg");
}
.header .util .btn_present::before {
    background-image: url("../images/common/ico_present.svg");
}
.header .util .btn_mypage::before {
    background-image: url("../images/common/ico_mypage.svg");
}
.header .util .btn_write {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 79px;
    height: 36px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #D1D5DC;
    text-indent: 0%;
    text-align: center;
    color: #111317;
    font-size: 14px;
    font-weight: 500;
}
.header .util .btn_write::before {
    content: '';
    position: relative;
    display: inline-block;
    padding-right: 5px;
    width: 13px;
    height: 19px;
    background: url(../images/common/ico_write.svg) no-repeat;
    background-size: 13px;
}
.header .util .btn_gnb {
    display: none;
}
.header .util a.new::after{
    content: '';
    position: absolute;
    right: -5px;
    top: -3px;
    display: inline-block;
    width: .3125rem;
    height: .3125rem;
    border-radius: 50%;
    background-color: #FF4E30;

}

/* search */
.header .search_wrap {
    display: none;
    position: absolute;
    right: 44.6rem;
    width: 30rem;
}
.header .search_wrap.on {
    display: block;
}
.header .search_wrap .input {
    position: relative;
    padding: 1rem 2.4rem;
    border: 1px solid #111;
    border-radius: 4.8rem;
}
.header .search_wrap .input.on input {
    width: calc(100% - 4rem);
}
.header .search_wrap .input .delete {
    display: none;
    position: absolute;
    right: 2.4rem;
    top: 0;
    width: 2rem;
    height: 4.2rem;
    cursor: pointer;
    text-indent: -9999rem;
}
.header .search_wrap .input input {
    color: #111;
    font-size: 1.7rem;
    font-weight: 600;
}
.header .search_wrap .input input::placeholder {
    color: #888;
}
.header .search_wrap .input .delete::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: url("../images/common/ico_search_del.svg") no-repeat left top / 100% 100%;
}
.header .search_wrap .input.on .delete {
    display: block;
}

.header .language_list {
    display: none;
    position: absolute;
    right: 0;
    top: 8rem;
    width: 10rem;
    height: 11.4rem;
    padding: 3rem 0;
    text-align: center;
    border: 1px solid #111;
    background: #F8F8F8;
    z-index: 1000;
}
.header .language_list.on {
    display: block;
}
.header .language_list li:nth-child(2) {
    margin-top: 1rem;
}
.header .language_list li a {
    display: block;
    line-height: 1.3;
    font-weight: 600;
    font-size: 1.7rem;
    transition: color .2s;
}
.header .language_list li.on a {
    color: #0574C4;
}

@media (max-width: 1919px) {
    .header .util {
        gap: calc(100vw * (24 / 1919));
    }
    
    .header .util a {
        width: calc(100vw * (24 / 1919));
        height: calc(100vw * (24 / 1919));
    }
    
    /* search */

    .header .search_wrap .input {
        padding: calc(100vw * (10 / 1919)) calc(100vw * (24 / 1919));
        border-radius: calc(100vw * (48 / 1919));
    }
    .header .search_wrap .input.on input {
        width: calc(100% - calc(100vw * (40 / 1919)));
    }
    .header .search_wrap .input .delete {
        right: calc(100vw * (24 / 1919));
        width: calc(100vw * (20 / 1919));
        height: calc(100vw * (42 / 1919));
    }
    .header .search_wrap .input input {
        font-size: calc(100vw * (17 / 1919));
    }
    .header .search_wrap .input .delete::after {
        width: calc(100vw * (20 / 1919));
    }
    
    .header .language_list {
        top: calc(100vw * (80 / 1919));
        width: calc(100vw * (100 / 1919));
        height: calc(100vw * (114 / 1919));
        padding: calc(100vw * (30 / 1919)) 0
    }
    .header .language_list li:nth-child(2) {
        margin-top: calc(100vw * (10 / 1919));
    }
    .header .language_list li a {
        font-size: calc(100vw * (17 / 1919));
    }
}

@media (max-width: 1180px) {
    .header .util {
        right: calc(100vw * (50 / 1180));
        gap: calc(100vw * (24 / 1180));
    }
    
    .header .util a {
        width: calc(100vw * (24 / 1180));
        height: calc(100vw * (24 / 1180));
    }

    .header .util .btn_gnb {
        display: none;

    }
    .header .util .btn_gnb span {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 6px;
        background: #111;
        transition: all .2s;
    }
    .header .btn_gnb span:first-child {
        width: .7875rem;
    }
    .header .btn_gnb span:nth-child(2) {
        width: 1.1625rem;
    }
    .header .btn_gnb span:last-child {
        width: .7875rem;
    }
    .header .util .btn_gnb span:nth-child(1) {
        margin-top: 0;
    }
    
    .header .btn_gnb.on span {
        width: 24px;
        margin: 0;
        transition-delay: .2s;
    }
    .header .btn_gnb.on span:nth-child(1) {
        transform: translateY(2px) rotate(135deg);
    }
    .header .btn_gnb.on span:nth-child(2) {
        transform: scale(0);
    }
    .header .btn_gnb.on span:nth-child(3) {
        transform: translateY(-2px) rotate(-135deg);
    }
    
    /* search */
    .header .search_wrap {
        right: calc(100vw * (194 / 1180));
        width: calc(100vw * (300 / 1180));
    }
    .header .search_wrap .input {
        display: flex;
        padding: calc(100vw * (10 / 1180)) calc(100vw * (24 / 1180));
        border-radius: calc(100vw * (48 / 1180));
    }
    .header .search_wrap .input.on input {
        width: calc(100% - calc(100vw * (40 / 1180)));
    }
    .header .search_wrap .input .delete {
        right: calc(100vw * (20 / 1180));
        width: calc(100vw * (20 / 1180));
        height: calc(100vw * (42 / 1180));
    }
    .header .search_wrap .input input {
        font-size: calc(100vw * (17 / 1180));
    }
    .header .search_wrap .input .delete::after {
        width: calc(100vw * (20 / 1180));
    }
    
    .header .language_list {
        right: calc(100vw * (60.5 / 1180));
        top: calc(100vw * (80 / 1180));
        width: calc(100vw * (100 / 1180));
        height: calc(100vw * (114 / 1180));
        padding: calc(100vw * (30 / 1180)) 0
    }
    .header .language_list li:nth-child(2) {
        margin-top: calc(100vw * (10 / 1180));
    }
    .header .language_list li a {
        font-size: calc(100vw * (17 / 1180));
    }
    
}

@media (max-width: 1024px) {
    .header .util .btn_gnb {
        width: 21px;
        height: 21px;
        
    }
    .header .util .btn_gnb span {
        height: 1.5px;
        margin-top: 5.5px;
    }
    .header .btn_gnb span:first-child {
        width: .7875rem;
    }
    .header .btn_gnb span:nth-child(2) {
        width: 1.1625rem;
    }
    .header .btn_gnb span:last-child {
        width: .7875rem;
    }
    .header .btn_gnb.on span {
        width: 21px;
    }
    .header .btn_gnb.on span:nth-child(1) {
        transform: translateY(7px) rotate(135deg);
    }
    .header .btn_gnb.on span:nth-child(3) {
        transform: translateY(-7px) rotate(-135deg);
    }
}

@media (max-width: 920px) {

    .header .util .btn_gnb {
        width: 18px;
        height: 18px;
        
    }
    .header .util .btn_gnb span {
        height: 1px;
        margin-top: 5px;
    }
    
    .header .btn_gnb.on span {
        width: 18px;
    }
    .header .btn_gnb.on span:nth-child(1) {
        transform: translateY(6px) rotate(135deg);
    }
    .header .btn_gnb.on span:nth-child(3) {
        transform: translateY(-6px) rotate(-135deg);
    }
}

@media (max-width: 767px) {
    .header .util {
        right: calc(100vw * (40 / 767));
        gap: 1.1563rem;
        align-items: center;
        z-index: 1001;
    }
    
    .header .util a {
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
    }
    .header .util a.new::after{
        content: '';
        position: absolute;
        right: -5px;
        top: -3px;
        display: inline-block;
        width: .25rem;
        height: .25rem;
        border-radius: 50%;
        background-color: #FF4E30;

    }

    .header .util .btn_search::before {
        background-image: url("../images/common/ico_header_search_mo.svg");
    }
    .header .util .btn_notification::before {
        background-image: url("../images/common/ico_header_notice_mo.svg");
    }

    .header .util a.btn_message {
        display: none;
    }
    .header .util a.btn_present {
        display: none;
    }
    .header .util a.btn_mypage {
        display: none;
    }
    .header .util a.btn_write {
        display: none;
    }
    
    .header .util .btn_gnb {
        width: 1.1438rem;
        height: .975rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
    }
    .header .util .btn_gnb span {
        height: .0813rem;
        margin-top: .35rem;
        border-radius: 100px;
    }
    .header .btn_gnb span:first-child {
        width: .7875rem;
    }
    .header .btn_gnb span:nth-child(2) {
        width: 1.1625rem;
    }
    .header .btn_gnb span:last-child {
        width: .7875rem;
    }
    .header .btn_gnb.on span {
        width: 1.25rem;
    }
    .header .btn_gnb.on span:nth-child(1) {
        transform: translateY(6.5px) rotate(135deg);
    }
    .header .btn_gnb.on span:nth-child(2) {
        transform: scale(0);
    }
    .header .btn_gnb.on span:nth-child(3) {
        transform: translateY(-6.5px) rotate(-135deg);
    }
    .header.on .switch-wrap {
        padding-right: 0;
    }
    .header.on .switch-wrap::after {
        content: '';
        display: none;
    }
    .header.on .util .btn_search {
        display: none;
    }
    .header.on .util .btn_notification {
        display: none;
    }
    .header.on .util a.btn_message {
        display: block;
    }
    .header.on .util a.btn_present {
        display: block;
    }
    /* .header.on .menu {
        display: none;
    } */
    
    /* search */
    .header .search_wrap {
        position: absolute;
        left: 0;
        right: calc(100vw * (194 / 767));
        top: calc(100vw * (-277 / 767));
        width: 100%;
        height: auto;
        padding: 0 calc(100vw * (40 / 767));
        display: flex;
        align-items: center;
        pointer-events: none;
        z-index: -1;
        background: #fff;
        transition: top .3s;
    }
    .header .search_wrap.on {
        display: flex;
        padding-top: 6.25rem;
        padding-bottom: 3.125rem;
        top: 0;
        pointer-events: all;
        z-index: 9999;
    }
    .header .search_wrap .input {
        display: flex;
        width: 100%;
        padding: calc(100vw * (20 / 767)) calc(100vw * (40 / 767));
        border-width: calc(100vw * (2 / 767));
        border-radius: calc(100vw * (48 / 767));
    }
    .header .search_wrap .input.on input {
        width: calc(100% - calc(100vw * (40 / 767)));
    }
    .header .search_wrap .input .delete {
        right: calc(100vw * (20 / 767));
        width: calc(100vw * (40 / 767));
        height: calc(100vw * (80 / 767));
    }
    .header .search_wrap .input input {
        font-size: calc(100vw * (32 / 767));
    }
    .header .search_wrap .input .delete::after {
        width: calc(100vw * (40 / 767));
    }
    

    
}

@media (max-width: 640px) {
    .header .util .btn_gnb {
        width: 1.1438rem;
        height: .975rem;
    }
    .header .util .btn_gnb span {
        height: .0813rem;
        margin-top: .35rem;
        border-radius: 100px;
    }
    .header .btn_gnb span:first-child {
        width: .7875rem;
    }
    .header .btn_gnb span:nth-child(2) {
        width: 1.1625rem;
    }
    .header .btn_gnb span:last-child {
        width: .7875rem;
    }
    .header .btn_gnb.on span {
        width: 1.25rem;
    }

}



.link-list-wrap .link-list {
    display: none;
}
@media (max-width: 767px) {
    .inner-section {
        padding-top: calc(100vw * (160 / 767));
        margin-top: 1.4375rem;
    }
    /* link-list-wrap */
    .link-list-wrap {
        position: sticky;
        top: 0;
        height: auto;
        z-index: 10;
        overflow: hidden;

    }
    .link-list-wrap .link-list {
        position: relative;
        padding: 0 1rem .6875rem 1rem;
        margin-top: 1.5625rem;
        display: flex;
        gap: 1.3938rem;
        white-space: nowrap;
        border-bottom: 1px solid #EBEDF3;
        background: #fff;
    }
    .link-list-wrap .link-list .link-item {
        position: relative;
        padding-top: .375rem;
    }
    .link-list-wrap .link-list .link-item a{
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: -2%;
        color: #111317;
    }
    .link-list-wrap .link-list .link-item.new::after{
        content: '';
        position: absolute;
        right: -3px;
        top: 0;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #0CA9DC;
        z-index: 1;
    }
}


/* footer */
.footer {
    padding: 7rem 0 7rem;
    background: #191A1F;
}
.footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;
    color: #fff;
}
.footer .inner a {
    color: #fff;
}

.footer .menu .menu_list {
    display: flex;
    gap: 2rem;
}
.footer .menu .menu_list li {
    width: 16rem;
}
.footer .menu .menu_list li a {
    position: relative;
    display: block;
    line-height: 1.3;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}
.footer .menu .menu_list li .title a {
    padding-top: 2rem; 
}
.footer .menu .menu_list li .title a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.footer .menu .menu_list li .link {
    margin-top: 4rem;
}
.footer .menu .menu_list li .link a {
    margin-top: 1.6rem;
    opacity: .5;
    transition: opacity .2s;
}

.footer .info h2 {
    width: 172px;
    height: 33px;

}
.footer .info h2 img {
    width: 100%;
    height: 100%;
}

.footer .info .link {
    display: flex;
    margin-top: 32px;
}
.footer .info .link a {
    position: relative;
    color: #fff;
    line-height: 17.9px;
    font-size: 15px;
    font-weight: 400;
}
.footer .info .link a + a {
    margin-left: 40px;
}
.footer .info .link a + a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -5px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #52525C;

}
.footer .info .link a:nth-child(2) {
    text-decoration: underline;
}
.footer .info .copyright {
    margin-top: 17px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #A7ABB6;
}
.footer .info .btn-footer-info-view {
    display: none;
}
.footer .info .company-info {
    display: block;
    padding: 21px 0 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #A7ABB6;
}
.footer .info:first-child {
    width: 591px;
}
.footer .info .customer-center {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.footer .info .customer-call {
    padding: 19px 0 12px;
    font-size: 28px;
    font-weight: 600;
}
.footer .info .opne-hours {
    font-size: 13px;
    line-height: 20px;
    color: #81848D;
}
.footer .info .btn-wrap {
    display: flex;
    gap: 7px;
    margin-top: 19px;
}
.footer .info .btn-wrap .ft-btn {
    display: block;
    border-radius: 8px;
    border: 1px solid #383941;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 7px 22px;
}
.footer .info .btn-wrap .ft-btn .txt {
    position: relative;
    padding-right: 14px;
}
.footer .info .btn-wrap .ft-btn .txt::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    display: inline-block;
    width: 5px;
    height: 8px;
    background: url(../images/common/ico_arrow_right_white.svg) no-repeat;
    background-size: contain;
}

@media (max-width: 767px) { 
    .footer {
        padding: 7rem 0 7rem;
        background: #191A1F;
    }
    .footer .info:first-child {
        width: auto;
    }
    .footer .inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        color: #fff;
    }
    .footer .inner a {
        color: #fff;
    }
    
    .footer .menu .menu_list {
        display: flex;
        gap: 2rem;
    }
    .footer .menu .menu_list li {
        width: 16rem;
    }
    .footer .menu .menu_list li a {
        position: relative;
        display: block;
        line-height: 1.3;
        color: #fff;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .footer .menu .menu_list li .title a {
        padding-top: 2rem; 
    }
    .footer .menu .menu_list li .title a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: #fff;
    }
    .footer .menu .menu_list li .link {
        margin-top: 4rem;
    }
    .footer .menu .menu_list li .link a {
        margin-top: 1.6rem;
        opacity: .5;
        transition: opacity .2s;
    }
    
    .footer .info h2 {
        width: 10.75rem;
        height: 2.0625rem;
    
    }
    .footer .info h2 img {
        width: 100%;
        height: 100%;
    }
    
    .footer .info .link {
        display: flex;
        gap: 1.6rem;
        justify-content: space-between;
        margin-top: 2.8rem;
    }
    .footer .info .link a {
        color: #fff;
        line-height: 1.3;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .footer .info .link a:nth-child(2) {
        text-decoration: underline;
    }
    .footer .info .copyright {
        margin-top: 1.6rem;
        color: #fff;
        line-height: 1.3;
        font-size: 1.4rem;
        font-weight: 600;
        opacity: .5;
    }
}


@keyframes link {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 100%
    }

    49.9% {
        transform: scaleX(0);
        transform-origin: 100% 100%
    }

    50% {
        transform: scaleX(0);
        transform-origin: 0 0
    }

    to {
        transform: scaleX(1);
        transform-origin: 0 0
    }
}

/* only pc hover */
@media (hover: hover) and (min-width: 1181px) {
    .footer .menu .menu_list li .link a:hover {
        opacity: 1;
    }
    .footer .family:hover::before {
        animation: link 1.2s forwards
    }
}



@media (max-width: 767px) {
    .footer {
        padding: 2.4125rem 0 2.9375rem;
    }
    .footer .inner {
        flex-direction: column;
        padding: 0 calc(100vw * (40 / 767));
        text-align: center;
    }
    .footer .info + .info {
        padding-top: 1.7875rem;
        margin-top: 1.7875rem;
        border-top: 1px solid #27282E;
    }
    .footer .info:first-child {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer .info h2 {
       display: none;
    }
    .footer .info .customer-center {
        display: none;
    }
    .footer .info .customer-call {
        padding: 0;
        font-size: 1rem;
        font-weight: 600;
    }
    .footer .info .opne-hours {
        font-size: .6875rem;
        font-weight: 400;
        color: #81848D;
        padding: .9375rem 0 1.1rem;
    }
    .footer .info .btn-wrap {
        display: flex;
        gap: .25rem;
    }
    .footer .info .btn-wrap .ft-btn {
        display: block;
        border-radius: .4125rem;
        border: 1px solid #383941;
        color: #fff;
        font-size: .6875rem;
        text-align: center;
        padding: 11.6px 0;
        width: 50%;
    }
    .footer .info .btn-wrap .ft-btn .txt {
        padding: 0;
    }
    .footer .info .btn-wrap .ft-btn .txt::after {
        content: '';
        display: none;
    }
    
    .footer .info .link {
        justify-content: center;
        gap: .8313rem;
        margin-top: 1.0813rem;
    }
    .footer .info .link a {
        font-size: .75rem;
    }
    .footer .info .link a + a {
        margin: 0;
    }
    .footer .info .link a + a::before {
        content: '';
        display: none;
    }
    .footer .company-info-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .info .btn-footer-info-view {
        display: inline-block;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        background: none;
        font-size: .75rem;
        color: #fff;
        padding-right: 1.5625rem;
    }
    .footer .info .btn-footer-info-view::after {
        content: '';
        position: absolute;
        right: 0;
        top:.125rem;
        display: inline-block;
        width: .75rem;
        height: .4375rem;
        background: url(../images/common/ico_arrow_down.svg) no-repeat;
        background-size: 100%;
    }
    .footer .info .btn-footer-info-view.down::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: .75rem;
        height: .4375rem;
        background: url(../images/common/ico_arrow_down.svg) no-repeat;
        transform: rotate(180deg); 
        background-size: 100%;
    }
    .footer .info .company-info {
        display: none;
        padding: .9375rem 0;
        font-size: .6875rem;
        line-height: .9375rem;
    }
    .footer .info .copyright {
        display: none;
    }

    .footer .info .copyright {
        margin-top: calc(100vw * (20 / 767));
        font-size: calc(100vw * (24 / 767));
    }

}

/* top 버튼  */
.btn_top {
    position: fixed;
    right: 5rem;
    bottom: -10rem;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    transition: all .2s;
}

.btn_top.on {
    bottom: 5rem;
    pointer-events: all;
    opacity: 1;
}

.btn_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    border-radius: 9999rem;
    background: #fff;
    border: 1px solid #E4E4E4;
    box-shadow: 0 8px 16px rgba(0,0,0,0.10);
    font-size: 12px;
    font-weight: 500;
    color: #111317;
    text-align: center;
}
.btn_top a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
    width: 10px;
    height: 6px;
    background: url("../images/common/ico_btn_top_arrow.svg") no-repeat left top / 100% 100%;
}


@media (max-width: 767px) {
    /* top 버튼  */
    .btn_top {
        position: fixed;
        right: 5rem;
        bottom: -10rem;
        z-index: 99;
        pointer-events: none;
        opacity: 0;
        transition: all .2s;
    }

    .btn_top.on {
        bottom: 5rem;
        pointer-events: all;
        opacity: 1;
    }

    .btn_top a {
        position: relative;
        display: block;
        width: 8.4rem;
        height: 8.4rem;
        border-radius: 9999rem;
        background: #fff;
        border: 1px solid #E4E4E4;
        box-shadow: 0 .2062rem .4125rem rgba(0,0,0,0.15);
        font-size: .6875rem;
        font-weight: 500;
        color: #111317;
        text-align: center;
    }
    .btn_top a::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -200%);
        width: 1.6rem;
        height: 2.4rem;
        background: url("../images/common/ico_btn_top_arrow.svg") no-repeat left top / 100% 100%;
    }
    .btn_top {
        right: calc(100vw * (40 / 767));
        bottom: calc(100vw * (-240 / 767));
    }
    
    .btn_top.on {
        bottom: calc(100vw * (40 / 767));
    }
    
    .btn_top a {
        width: 2.6875rem;
        height: 2.6875rem;
        line-height: 3.125rem;
    }
    .btn_top a::before {
        width: .4562rem;
        height: .2687rem;
    }
}